
body {
	color: #cce0ff;
}

.text-left {
	float: left;
	width: 46%;
}

.text-right {
	float: right;
	width: 46%;
}

.text-right-shared {
	float: right;
	width: 75%;
}

.image-left {
	float: left;
	width: 15%;
}

.indentleft {
	margin-left: 20px;
}

.indentright {
	margin-right: 20px;
}

.super-tiny-image {
	width: 40px;
}

.tiny-image {
	width: 100px;
}

.small-image {
	width: 300px;
}

.med-image {
	width: 500px;
}

.center {
	text-align: center;
}

a {
	color: #0066ff;
}

a:visited {
	color: #80b3ff;
}

a:hover {
	color: #b3d1ff;
}

.ul-no-bullet {
	list-style-type: none;
}

.ul-star {
	list-style-image: url('star.png');
}

.list-horizontal li {
	display:inline-block;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#000;
	color:rgba(255, 255, 255, 1.0);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}

footer {
	background-color: #000000;
	color: #a3a3c2;
	bottom: 5;
	right: 10;
	position: fixed;
}
